In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset=pd.read_csv("Preprocessed_Car_Resale_Price_Data.csv")

In [3]:
dataset

,Car ID,Car Name,Model Year,engine_capacity,transmission_type,Kms_driven,owner_type,fuel_type,body_type,resale_price
0,1,5,2017,1197,1,40000,0,2,0,545000
1,2,7,2018,2179,0,70000,0,1,1,1000000
2,3,5,2015,1197,1,70000,1,2,4,450000
3,4,5,2015,1197,1,70000,1,2,4,450000
4,5,2,2009,1086,1,80000,0,2,0,160000
5,6,2,2015,1197,1,70000,0,2,0,470000
6,7,7,2017,1047,1,120000,0,1,0,360000
7,8,2,2010,1086,1,60000,1,2,0,200000
8,9,5,2016,1196,1,20000,0,2,2,370000
9,10,2,2009,1086,1,30000,0,2,0,120000
10,11,1,2014,1198,1,70000,0,2,4,330000
11,12,2,2018,1197,1,60000,1,2,4,475000
12,13,5,2020,1462,1,50000,2,2,4,686000
13,14,2,2021,1493,1,60000,0,1,3,1250000
14,15,2,2021,1396,1,60000,0,1,3,1100000
15,16,5,2019,998,0,20000,0,2,0,395000
16,17,5,2016,998,1,40000,0,0,0,350000
17,18,8,2011,1496,1,50000,1,2,4,289000
18,19,8,2011,1364,1,150000,0,1,4,282000
19,20,3,2021,998,1,10000,0,2,3,1000000
20,21,5,2020,1462,1,30000,1,2,4,785000
21,22,0,2014,1498,1,150000,2,1,3,300000
22,23,6,2011,2360,0,80000,1,2,3,397000
23,24,5,2015,1248,1,20000,0,1,4,375000
24,25,5,2011,998,1,120000,2,2,0,100000
25,26,6,2011,2360,0,80000,1,2,3,397000
26,27,5,2021,1197,1,40000,0,2,0,675000
27,28,2,2018,1197,1,60000,1,2,4,465000
28,29,5,2015,1197,1,80000,1,2,4,480000
29,30,5,2014,796,1,100000,0,2,0,225000
30,31,5,2016,998,1,70000,1,2,0,320000
31,32,2,2015,1197,1,30000,0,2,0,415000
32,33,5,2012,1248,1,120000,2,1,0,240000
33,34,4,2013,2179,1,100000,2,1,3,350000
34,35,4,2013,2179,1,100000,2,1,3,350000
35,36,7,2013,2179,1,90000,1,1,3,296000
36,37,7,2013,2179,1,90000,1,1,3,296000
37,38,7,2018,1199,1,100000,0,2,0,316000
38,39,5,2017,1248,1,100000,1,1,3,750000
39,40,5,2019,1248,1,120000,0,1,1,900000
40,41,5,2022,998,1,10000,0,2,0,560000
41,42,5,2017,1248,1,150000,0,1,3,800000
42,43,2,2017,1396,1,120000,1,1,3,900000
43,44,5,2019,796,1,80000,0,2,0,280000
44,45,8,2013,2494,1,90000,1,1,5,550000
45,46,8,2009,2494,1,150000,0,1,1,250000
46,47,7,2011,1248,1,150000,0,1,4,150000
47,48,7,2011,1248,1,150000,0,1,4,150000
48,49,2,2017,1186,1,20000,0,1,0,480000
49,50,5,2017,1196,1,150000,0,0,2,300000

In [4]:
independent=dataset[['Car Name', 'Model Year', 'engine_capacity', 'Kms_driven', 'transmission_type', 'fuel_type', 'owner_type', 'body_type']]
dependent=dataset[['resale_price']]

In [5]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {'kernel':['rbf','sigmoid','linear'],
'C':[10,100,1000,2000,3000],'gamma':['auto','scale']}
grid = GridSearchCV(SVR(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent, dependent)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

In [ ]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)

In [ ]:
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

In [ ]:
table=pd.DataFrame.from_dict(re)

In [ ]:
table