In [1]:
import pandas as pd

In [2]:
# Reading the Dataset
dataset=pd.read_csv("Preprocessed_Car_Resale_Price_Data.csv")

In [3]:
dataset

,Car ID,Car Name,Model Year,engine_capacity,transmission_type,Kms_driven,owner_type,fuel_type,body_type,resale_price
0,1,5,2017,1197,1,40000,0,2,0,545000
1,2,7,2018,2179,0,70000,0,1,1,1000000
2,3,5,2015,1197,1,70000,1,2,4,450000
3,4,5,2015,1197,1,70000,1,2,4,450000
4,5,2,2009,1086,1,80000,0,2,0,160000
5,6,2,2015,1197,1,70000,0,2,0,470000
6,7,7,2017,1047,1,120000,0,1,0,360000
7,8,2,2010,1086,1,60000,1,2,0,200000
8,9,5,2016,1196,1,20000,0,2,2,370000
9,10,2,2009,1086,1,30000,0,2,0,120000
10,11,1,2014,1198,1,70000,0,2,4,330000
11,12,2,2018,1197,1,60000,1,2,4,475000
12,13,5,2020,1462,1,50000,2,2,4,686000
13,14,2,2021,1493,1,60000,0,1,3,1250000
14,15,2,2021,1396,1,60000,0,1,3,1100000
15,16,5,2019,998,0,20000,0,2,0,395000
16,17,5,2016,998,1,40000,0,0,0,350000
17,18,8,2011,1496,1,50000,1,2,4,289000
18,19,8,2011,1364,1,150000,0,1,4,282000
19,20,3,2021,998,1,10000,0,2,3,1000000
20,21,5,2020,1462,1,30000,1,2,4,785000
21,22,0,2014,1498,1,150000,2,1,3,300000
22,23,6,2011,2360,0,80000,1,2,3,397000
23,24,5,2015,1248,1,20000,0,1,4,375000
24,25,5,2011,998,1,120000,2,2,0,100000
25,26,6,2011,2360,0,80000,1,2,3,397000
26,27,5,2021,1197,1,40000,0,2,0,675000
27,28,2,2018,1197,1,60000,1,2,4,465000
28,29,5,2015,1197,1,80000,1,2,4,480000
29,30,5,2014,796,1,100000,0,2,0,225000
30,31,5,2016,998,1,70000,1,2,0,320000
31,32,2,2015,1197,1,30000,0,2,0,415000
32,33,5,2012,1248,1,120000,2,1,0,240000
33,34,4,2013,2179,1,100000,2,1,3,350000
34,35,4,2013,2179,1,100000,2,1,3,350000
35,36,7,2013,2179,1,90000,1,1,3,296000
36,37,7,2013,2179,1,90000,1,1,3,296000
37,38,7,2018,1199,1,100000,0,2,0,316000
38,39,5,2017,1248,1,100000,1,1,3,750000
39,40,5,2019,1248,1,120000,0,1,1,900000
40,41,5,2022,998,1,10000,0,2,0,560000
41,42,5,2017,1248,1,150000,0,1,3,800000
42,43,2,2017,1396,1,120000,1,1,3,900000
43,44,5,2019,796,1,80000,0,2,0,280000
44,45,8,2013,2494,1,90000,1,1,5,550000
45,46,8,2009,2494,1,150000,0,1,1,250000
46,47,7,2011,1248,1,150000,0,1,4,150000
47,48,7,2011,1248,1,150000,0,1,4,150000
48,49,2,2017,1186,1,20000,0,1,0,480000
49,50,5,2017,1196,1,150000,0,0,2,300000

In [4]:
independent=dataset[['Car Name', 'Model Year', 'engine_capacity', 'Kms_driven', 'transmission_type', 'fuel_type', 'owner_type', 'body_type']]
dependent=dataset[['resale_price']]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [6]:
X_train

,Car Name,Model Year,engine_capacity,Kms_driven,transmission_type,fuel_type,owner_type,body_type
7,2,2010,1086,60000,1,2,1,0
14,2,2021,1396,60000,1,1,0,3
45,8,2009,2494,150000,1,1,0,1
48,2,2017,1186,20000,1,1,0,0
29,5,2014,796,100000,1,2,0,0
15,5,2019,998,20000,0,2,0,0
30,5,2016,998,70000,1,2,1,0
32,5,2012,1248,120000,1,1,2,0
16,5,2016,998,40000,1,0,0,0
42,2,2017,1396,120000,1,1,1,3
20,5,2020,1462,30000,1,2,1,4
43,5,2019,796,80000,1,2,0,0
8,5,2016,1196,20000,1,2,0,2
13,2,2021,1493,60000,1,1,0,3
25,6,2011,2360,80000,0,2,1,3
5,2,2015,1197,70000,1,2,0,0
17,8,2011,1496,50000,1,2,1,4
40,5,2022,998,10000,1,2,0,0
49,5,2017,1196,150000,1,0,0,2
1,7,2018,2179,70000,0,1,0,1
12,5,2020,1462,50000,1,2,2,4
37,7,2018,1199,100000,1,2,0,0
24,5,2011,998,120000,1,2,2,0
6,7,2017,1047,120000,1,1,0,0
23,5,2015,1248,20000,1,1,0,4
36,7,2013,2179,90000,1,1,1,3
21,0,2014,1498,150000,1,1,2,3
19,3,2021,998,10000,1,2,0,3
9,2,2009,1086,30000,1,2,0,0
39,5,2019,1248,120000,1,1,0,1
46,7,2011,1248,150000,1,1,0,4
3,5,2015,1197,70000,1,2,1,4
0,5,2017,1197,40000,1,2,0,0
47,7,2011,1248,150000,1,1,0,4
44,8,2013,2494,90000,1,1,1,5

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [8]:
X_train

array([[-1.39951173, -1.50356295, -0.59827871, -0.37978461,  0.30618622,
         0.9017001 ,  0.74357315, -1.00774837],
       [-1.39951173,  1.46501005,  0.09926309, -0.37978461,  0.30618622,
        -0.7593264 , -0.70226353,  0.72690046],
       [ 1.56914952, -1.77343322,  2.56991117,  1.64787897,  0.30618622,
        -0.7593264 , -0.70226353, -0.42953209],
       [-1.39951173,  0.38552896, -0.37326523, -1.28096842,  0.30618622,
        -0.7593264 , -0.70226353, -1.00774837],
       [ 0.08481889, -0.42408186, -1.25081782,  0.52139921,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889,  0.92526951, -0.79629058, -1.28096842, -3.26598632,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889,  0.11565869, -0.79629058, -0.15448865,  0.30618622,
         0.9017001 ,  0.74357315, -1.00774837],
       [ 0.08481889, -0.9638224 , -0.23375687,  0.97199111,  0.30618622,
        -0.7593264 ,  2.18940982, -1.00774837],
       [ 0.08481889,  0.11565869, -0.79629058, -0.83037651,  0.30618622,
        -2.42035289, -0.70226353, -1.00774837],
       [-1.39951173,  0.38552896,  0.09926309,  0.97199111,  0.30618622,
        -0.7593264 ,  0.74357315,  0.72690046],
       [ 0.08481889,  1.19513978,  0.24777199, -1.05567246,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [ 0.08481889,  0.92526951, -1.25081782,  0.0708073 ,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889,  0.11565869, -0.35076388, -1.28096842,  0.30618622,
         0.9017001 , -0.70226353,  0.14868419],
       [-1.39951173,  1.46501005,  0.31752617, -0.37978461,  0.30618622,
        -0.7593264 , -0.70226353,  0.72690046],
       [ 0.57959577, -1.23369268,  2.2683931 ,  0.0708073 , -3.26598632,
         0.9017001 ,  0.74357315,  0.72690046],
       [-1.39951173, -0.15421158, -0.34851375, -0.15448865,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 1.56914952, -1.23369268,  0.32427658, -0.60508056,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [ 0.08481889,  1.73488033, -0.79629058, -1.50626437,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889,  0.38552896, -0.35076388,  1.64787897,  0.30618622,
        -2.42035289, -0.70226353,  0.14868419],
       [ 1.07437264,  0.65539923,  1.86111869, -0.15448865, -3.26598632,
        -0.7593264 , -0.70226353, -0.42953209],
       [ 0.08481889,  1.19513978,  0.24777199, -0.60508056,  0.30618622,
         0.9017001 ,  2.18940982,  1.30511674],
       [ 1.07437264,  0.65539923, -0.34401348,  0.52139921,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889, -1.23369268, -0.79629058,  0.97199111,  0.30618622,
         0.9017001 ,  2.18940982, -1.00774837],
       [ 1.07437264,  0.38552896, -0.68603397,  0.97199111,  0.30618622,
        -0.7593264 , -0.70226353, -1.00774837],
       [ 0.08481889, -0.15421158, -0.23375687, -1.28096842,  0.30618622,
        -0.7593264 , -0.70226353,  1.30511674],
       [ 1.07437264, -0.69395213,  1.86111869,  0.29610325,  0.30618622,
        -0.7593264 ,  0.74357315,  0.72690046],
       [-2.38906549, -0.42408186,  0.32877685,  1.64787897,  0.30618622,
        -0.7593264 ,  2.18940982,  0.72690046],
       [-0.90473486,  1.46501005, -0.79629058, -1.50626437,  0.30618622,
         0.9017001 , -0.70226353,  0.72690046],
       [-1.39951173, -1.77343322, -0.59827871, -1.05567246,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.08481889,  0.92526951, -0.23375687,  0.97199111,  0.30618622,
        -0.7593264 , -0.70226353, -0.42953209],
       [ 1.07437264, -1.23369268, -0.23375687,  1.64787897,  0.30618622,
        -0.7593264 , -0.70226353,  1.30511674],
       [ 0.08481889, -0.15421158, -0.34851375, -0.15448865,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [ 0.08481889,  0.38552896, -0.34851375, -0.83037651,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 1.07437264, -1.23369268, -0.23375687,  1.64787897,  0.30618622,
        -0.7593264 , -0.70226353,  1.30511674],
       [ 1.56914952, -0.69395213,  2.56991117,  0.29610325,  0.30618622,
        -0.7593264 ,  0.74357315,  1.88333301]])

In [9]:
X_test

array([[ 0.08481889, -0.15421158, -0.34851375,  0.0708073 ,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [-1.39951173,  0.65539923, -0.34851375, -0.37978461,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [-1.89428861, -0.42408186, -0.34626361, -0.15448865,  0.30618622,
         0.9017001 , -0.70226353,  1.30511674],
       [ 0.08481889,  0.38552896, -0.23375687,  1.64787897,  0.30618622,
        -0.7593264 , -0.70226353,  0.72690046],
       [ 0.08481889, -0.15421158, -0.34851375, -0.15448865,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [-1.39951173,  0.65539923, -0.34851375, -0.37978461,  0.30618622,
         0.9017001 ,  0.74357315,  1.30511674],
       [ 0.08481889,  0.38552896, -0.23375687,  0.52139921,  0.30618622,
        -0.7593264 ,  0.74357315,  0.72690046],
       [-1.39951173, -0.15421158, -0.34851375, -1.05567246,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [ 0.57959577, -1.23369268,  2.2683931 ,  0.0708073 , -3.26598632,
         0.9017001 ,  0.74357315,  0.72690046],
       [-1.39951173, -1.77343322, -0.59827871,  0.0708073 ,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [-0.40995798, -0.69395213,  1.86111869,  0.52139921,  0.30618622,
        -0.7593264 ,  2.18940982,  0.72690046],
       [ 1.07437264, -0.69395213,  1.86111869,  0.29610325,  0.30618622,
        -0.7593264 ,  0.74357315,  0.72690046],
       [ 0.08481889,  1.46501005, -0.34851375, -0.83037651,  0.30618622,
         0.9017001 , -0.70226353, -1.00774837],
       [-0.40995798, -0.69395213,  1.86111869,  0.52139921,  0.30618622,
        -0.7593264 ,  2.18940982,  0.72690046],
       [ 1.56914952, -1.23369268,  0.02725878,  1.64787897,  0.30618622,
        -0.7593264 , -0.70226353,  1.30511674]])

In [10]:
from sklearn.svm import SVR
regressor=SVR(kernel="rbf",C=1000)
regressor.fit(X_train,Y_train)

C:\Users\Mellinaa Sanjeevi\anaconda3\envs\aiml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [11]:
regressor.intercept_

array([367934.69261006])

In [12]:
regressor.n_support_

array([        -2, 1072693247])

In [13]:
regressor.support_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [14]:
y_pred=regressor.predict(X_test)

In [15]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [16]:
r_score

-0.19494664264168415